/* General Styling */
body {
    font-family: 'Georgia', serif;
    background: linear-gradient(to right, #f7cac9, #92a8d1);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Styling */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Button Styling */
button {
    background-color: #f7cac9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e8b3b3;
}

/* Input Styling */
input[type="password"] {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 80%;
    font-size: 18px;
}

/* Preview Styling */
.preview img,
.preview video {
    max-width: 100%;
    max-height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Gallery Styling */
.gallery-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.slide {
    display: none;
    width: 100%;
}

.fade {
    animation: fadeEffect 3s;
}

@keyframes fadeEffect {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

/* Navigation Buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.6s ease, opacity 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Dots/Indicators Styling */
.dots-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease, opacity 0.5s ease;
    opacity: 0;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Responsiveness */
@media screen and (max-width: 600px) {

    .prev,
    .next {
        font-size: 12px;
        padding: 12px;
    }
}