body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, rgba(255, 182, 193, 0.8), rgba(255, 228, 225, 0.8));
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #ffb6c1;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff69b4;
}

input[type="file"] {
    display: none;
}

label {
    background-color: #ffb6c1;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

label:hover {
    background-color: #ff69b4;
}

.gallery-item {
    margin: 20px 0;
}

.gallery-item img,
.gallery-item video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-form {
    display: inline-block;
}