<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <title>Gallery</title>
</head>

<body>
    <div class="container">
        <a href="{{ url_for('index') }}" class="fixed-header">Back to Home</a>
        {% for task in tasks %}
        <div class="gallery-item">
            {% if task.media.lower().endswith(('png', 'jpg', 'jpeg', 'gif')) %}
            <img src="{{ url_for('static', filename=task.media.split('static/')[-1]) }}" alt="{{ task.description }}">
            {% elif task.media.lower().endswith(('mp4', 'mov', 'avi')) %}
            <video controls playsinline muted>
                <source src="{{ url_for('static', filename=task.media.split('static/')[-1]) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% endif %}
            <div class="description">
                <p>{{ task.description }}</p>
                <form action="{{ url_for('like', task_id=task.id) }}" method="post" class="like-form"
                    hx-post="{{ url_for('like', task_id=task.id) }}" hx-trigger="click" hx-target="#likes-{{ task.id }}"
                    hx-swap="innerHTML">
                    <button type="submit" class="like-button">
                        ❤️ <span id="likes-{{ task.id }}" class="heart-icon">{{ task.likes }}</span>
                    </button>
                </form>
            </div>
        </div>
        <hr class="gallery-divider">
        {% endfor %}
    </div>
</body>

</html>