<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Task</title>
</head>

<body>
    <div class="container">
        {% if task %}
        <h1>Your task is: {{ task.description }}</h1>
        {% else %}
        <h1>Take a photo or video!</h1>
        {% endif %}
        <form id="mediaForm" action="{{ url_for('upload', task_id=task.id if task else 0) }}" method="post"
            enctype="multipart/form-data">
            <label for="media" class="label-btn">Capture or Select Media</label>
            <input type="file" name="media" id="media" accept="image/*,video/*" capture="environment"
                onchange="document.getElementById('mediaForm').submit();">
        </form>
    </div>
</body>

</html>